<header class="header">
  <div class="header__container">

    <nav class="header__nav">

      <a href="" class="header__logo">Recipe Book</a>

      <ul class="header__links">
        <li><a
          class="header__link"
          routerLinkActive="active"
          [routerLink]="'auth'"
        >Authenticate</a></li>
        <li><a
          class="header__link"
          routerLinkActive="active"
          [routerLink]="'recipes'"
        >Recipes</a></li>
        <li><a
          class="header__link"
          routerLinkActive="active"
          [routerLink]="'shopping-list'"
        >Shopping List</a></li>
      </ul>

    </nav>

    <div class="header__dropdown">
      <a class="header__dropdown-button"
         (click)="openManage()"
      >Manage
        <app-arrow-down-large></app-arrow-down-large>
      </a>
      <ul class="header__dropdown-menu"
          [class.header__dropdown-menu--open]="isButtonClicked"
      >
        <li><a (click)="onSaveData()">Save Data</a></li>
        <li><a (click)="onFetchData()">Fetch Data</a></li>
      </ul>
    </div>
  </div>
</header>
