.header {
  background-color: #4A8D98;
}

.header a {
  transition: color .4s ease;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1216px;
  margin: 0 auto;
  padding: 32px 0;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 116px;
  font-size: 40px;
  line-height: 47px;
  color: #1C2C56;
}

.header__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__link {
  font-size: 30px;
  line-height: 35px;
  color: #AEC086;
  cursor: pointer;
}

.header__link:hover {
  color: #FFFFFF;
}

.active {
  color: #FFFFFF;
}

.header__link:first-child {
  margin-right: 72px;
}

.header__dropdown {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 30px;
  line-height: 35px;
}

.header__dropdown-logout {
  cursor: pointer;
}

.header__dropdown-button {
  color: #AEC086;
  cursor: pointer;
  margin-right: 24px;
}

.header__dropdown-menu {
  display: none;
  position: absolute;
  top: 16px;
  left: 0;
  padding: 16px 10px;
  list-style: none;
  background: #ECECEC;
  border-radius: 10px;
}

.header__dropdown-menu--open {
  display: block;
}

.header__dropdown-menu a {
  font-size: 24px;
  line-height: 20px;
  color: #AEC086;
  cursor: pointer;
}

.header__dropdown-menu li:first-child {
  margin-bottom: 5px;
}

.header__dropdown a:hover {
  color: #1C2C56;
}

.header__dropdown-arrow::ng-deep svg {
  transition: fill 0.4s ease;
}

.header__dropdown a:hover .header__dropdown-arrow::ng-deep svg {
  fill: #1C2C56;
}
