<header class="header">
  <div class="header__container">

    <nav class="header__nav">

      <a href="" class="header__logo">Recipe Book</a>

      <ul class="header__links">
        <li><a
          class="header__link"
          routerLinkActive="active"
          [routerLink]="'auth'"
          *ngIf="!isAuthenticated"
        >Authenticate</a></li>
        <li><a
          class="header__link"
          routerLinkActive="active"
          [routerLink]="'recipes'"
          *ngIf="isAuthenticated"
        >Recipes</a></li>
        <li><a
          class="header__link"
          routerLinkActive="active"
          [routerLink]="'shopping-list'"
        >Shopping List</a></li>
      </ul>

    </nav>

    <div class="header__dropdown" *ngIf="isAuthenticated">
      <div class="header__dropdown-button-wrapper">
        <a class="header__dropdown-button"
           (click)="openManage()"
        >Manage
          <app-arrow-down-large
            [color]="'#AEC086'"
            class="header__dropdown-arrow"
          ></app-arrow-down-large>
        </a>
        <ul class="header__dropdown-menu"
            [class.header__dropdown-menu--open]="isButtonClicked"
        >
          <li><a (click)="onSaveData()">Save Data</a></li>
          <li><a (click)="onFetchData()">Fetch Data</a></li>
        </ul>
      </div>
      <a class="header__dropdown-logout" (click)="onLogout()">Logout</a>
    </div>
  </div>
</header>
