.header {
  background-color: #F6D47B;
}

.header a {
  transition: color .4s ease;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1216px;
  margin: 0 auto;
  padding: 32px 0;
}

@media (max-width: 1439px) {
  .header__container {
    max-width: 1120px;
  }
}

@media (max-width: 1279px) {
  .header__container {
    max-width: 944px;
  }
}

@media (max-width: 1023px) {
  .header__container {
    max-width: 704px;
  }
}

@media (max-width: 767px) {
  .header__container {
    flex-direction: column;
    padding: 24px 20px;
    max-width: 100%;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .header__nav {
    flex-direction: column;
  }
}

.header__logo {
  margin-right: 116px;
  font-size: 40px;
  line-height: 47px;
  color: #B4504B;
}

@media (max-width: 1439px) {
  .header__logo {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (max-width: 1279px) {
  .header__logo {
    margin-right: 50px;
  }
}

@media (max-width: 1023px) {
  .header__logo {
    font-size: 30px;
    line-height: 34px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    text-align: center;
    margin-right: 0;
  }
}

.header__links {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

@media (max-width: 767px) {
  .header__links {
    flex-direction: column;
    text-align: center;
  }
}

.header__link {
  font-size: 30px;
  line-height: 35px;
  color: #B4504B;
  cursor: pointer;
}

@media (max-width: 1439px) {
  .header__link {
    font-size: 26px;
    line-height: 30px;
  }
}

@media (max-width: 1023px) {
  .header__link {
    font-size: 20px;
    line-height: 24px;
  }
}

.header__link:hover {
  color: #FFFFFF;
}

.active {
  color: #FFFFFF;
}

.header__link:first-of-type {
  margin-right: 72px;
}

@media (max-width: 1279px) {
  .header__link:first-of-type {
    margin-right: 32px;
  }
}

@media (max-width: 767px) {
  .header__link:first-of-type {
    margin-right: 0;
  }
}

.header__dropdown {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 30px;
  line-height: 35px;
}

@media (max-width: 1439px) {
  .header__dropdown {
    font-size: 26px;
    line-height: 30px;
  }
}

@media (max-width: 1023px) {
  .header__dropdown {
    font-size: 20px;
    line-height: 24px;
  }
}

.header__dropdown-logout {
  color: #B4504B;
  cursor: pointer;
}

.header__dropdown-button {
  color: #B4504B;
  cursor: pointer;
  margin-right: 24px;
}

.header__dropdown-menu {
  display: none;
  position: absolute;
  z-index: 10;
  top: 16px;
  left: 0;
  padding: 16px 10px;
  list-style: none;
  background: #FFFFFF;
  border-radius: 10px;
}

.header__dropdown-menu--open {
  display: block;
}

.header__dropdown-menu a {
  font-size: 24px;
  line-height: 20px;
  color: #B4504B;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .header__dropdown-menu a {
    font-size: 18px;
    line-height: 20px;
  }
}

.header__dropdown-menu li:first-child {
  margin-bottom: 5px;
}

.header__dropdown a:hover {
  color: #1C2C56;
}

.header__dropdown-arrow::ng-deep svg {
  transition: fill 0.4s ease;
}

@media (max-width: 1023px) {
  .header__dropdown-arrow::ng-deep svg {
    width: 8px;
    height: 11px;
  }
}

.header__dropdown a:hover .header__dropdown-arrow::ng-deep svg {
  fill: #1C2C56;
}
