<article class="recipes-details">
  <img
    [src]="recipe.imagePath"
    alt="{{ recipe.name }}"
    class="recipes-details__img"
  >

  <h1 class="recipes-details__title">{{recipe.name}}</h1>
  <p class="recipes-details__text">{{recipe.description}}</p>

  <a
    class="recipes-details__button"
    role="button"
    (click)="openManageRecipe()"
  >Manage Recipe
    <app-arrow-down-small></app-arrow-down-small>
  </a>

  <ul class="recipes-details__menu"
      [class.recipes-details__menu--open]="isButtonClicked"
  >
    <li><a (click)="onAddShoppingList()">Add to Shopping List</a></li>
    <li><a href="#">Edit Recipe</a></li>
    <li><a href="#">Delete Recipe</a></li>
  </ul>

  <ul class="recipes-details__ingredients">
    <li
      class="recipes-details__ingredients-item"
      *ngFor="let ingredient of recipe.ingredients"
    >
      {{ ingredient.name }} – {{ ingredient.amount }}
    </li>
  </ul>

</article>
