.recipes-details {
  position: relative;
}

.arrow::ng-deep svg {
  width: 12px;
  height: 10px;
  transform: rotate(-90deg);
}

@media (max-width: 767px) {
  .recipes-details {
    margin-top: 24px;
  }
}

.recipes-details__img {
  margin-bottom: 20px;
  width: 384px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 1023px) {
  .recipes-details__img {
    width: 300px;
    height: 180px;
  }
}

@media (max-width: 767px) {
  .recipes-details__img {
    width: 100%;
  }
}

.recipes-details__title {
  margin: 0 0 8px 0;
  font-size: 26px;
  line-height: 30px;
  color: #1C2C56;
}

@media (max-width: 1023px) {
  .recipes-details__title {
    font-size: 22px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .recipes-details__title {
    text-align: center;
  }
}

.recipes-details__text {
  margin: 0 0 25px 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #494646
}

@media (max-width: 1023px) {
  .recipes-details__text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .recipes-details__text {
    text-align: center;
  }
}

.recipes-details__button {
  padding: 10px 20px;
  width: 172px;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background: #1C2C56;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 1023px) {
  .recipes-details__button {
    font-size: 16px;
    line-height: 18px;
  }
}

.recipes-details__menu {
  display: none;
  position: absolute;
  left: 188px;
  top: 284px;
  padding: 16px 10px;
  width: 160px;
  list-style: none;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #494646;
}

@media (max-width: 1023px) {
  .recipes-details__menu {
    left: 180px;
    top: 258px;
    width: 120px;
    font-size: 14px;
    line-height: 16px;
  }
}

  @media (max-width: 767px) {
  .recipes-details__menu {
    left: 175px;
    top: 260px;
    width: 105px;
    font-size: 13px;
    line-height: 15px;
  }
}

.recipes-details__menu--open {
  display: block;
}

.recipes-details__menu li {
  margin-bottom: 4px;
}

.recipes-details__menu a:hover {
  color: #1C2C56;
  transition: .4s;
}

.recipes-details__menu li:last-child {
  margin-bottom: 0;
}

.recipes-details__menu a {
  color: #494646;
  cursor: pointer;
}

.recipes-details__ingredients {
  width: 180px;
  padding: 24px;
  list-style: none;
  background: #FFFFFF;
  border: 1px solid #494646;
  border-radius: 10px;
}

@media (max-width: 1023px) {
  .recipes-details__ingredients {
    width: 170px;
  }
}

.recipes-details__ingredients-item {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 21px;
}

@media (max-width: 1023px) {
  .recipes-details__ingredients-item {
    font-size: 16px;
    line-height: 18px;
  }
}

.recipes-details__ingredients-item:last-child {
  margin-bottom: 0;
}
