.recipes-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  padding: 24px 32px;
  width: 488px;
  background: #FFFFFF;
  border: 2px solid #1C2C56;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 1023px) {
  .recipes-item {
    width: 320px;
    padding: 16px 24px;
  }
}

@media (max-width: 767px) {
  .recipes-item {
    width: 100%;
  }
}

.recipes-item--active {
  background: #B4504B;
  outline: none;
}

.recipes-item--active .recipes-item__title,
.recipes-item--active .recipes-item__text {
  color: #FFFFFF;
}

.recipes-item__title {
  margin: 0 0 12px 0;
  color: #1C2C56;
  font-size: 26px;
  line-height: 30px;
  transition: color 0.3s ease;
}

@media (max-width: 1023px) {
  .recipes-item__title {
    margin: 0 0 8px 0;
    font-size: 18px;
    line-height: 22px;
  }
}

.recipes-item__text {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #494646;
  transition: color 0.3s ease;
}

@media (max-width: 1023px) {
  .recipes-item__text {
    font-size: 15px;
    line-height: 18px;
  }
}

.recipes-item__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 1023px) {
  .recipes-item__img {
    width: 72px;
    height: 72px;
  }
}
