@media (max-width: 1023px) {
  form {
    width: 300px;
  }
}

@media (max-width: 767px) {
  form {
    margin-top: 24px;
    width: 100%;
  }
}

.edit-buttons {
  display: flex;
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .edit-buttons {
    justify-content: space-around;
  }
}

.button {
  margin-right: 40px;
  padding: 7px 20px;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
}

@media (max-width: 1023px) {
  .button {
    font-size: 18px;
    line-height: 22px;
  }
}

.save {
  width: 150px;
  background: #AEC086;
}

.cancel {
  width: 150px;
  background: #B4504B;
}

@media (max-width: 767px) {
  .button {
    width: 120px;
    margin-right: 0;
  }
}

.edit-fields {
  padding: 0;
  list-style: none;
}

.edit-fields label {
  display: block;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #1C2C56;
}

@media (max-width: 1023px) {
  .edit-fields label {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
  }
}

.edit-fields input,
.edit-fields textarea {
  width: 100%;
  padding: 7px 16px;
  font-size: 16px;
  line-height: 24px;
  color: #1C2C56;
  background: #FFFFFF;
  border: 1px solid #1C2C56;
  box-sizing: border-box;
  border-radius: 10px;
}

.edit-fields__item {
  margin-bottom: 24px;
}

@media (max-width: 1023px) {
  .edit-fields__item {
    margin-bottom: 16px;
  }
}

.img-preview {
  display: block;
  width: 384px;
  height: 384px;
  object-fit: cover;
  margin-top: 16px;
  border-radius: 16px;
}

@media (max-width: 1023px) {
  .img-preview {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .img-preview {
    width: 100%;
  }
}

.ingredients-fields {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.ingredients-field {
  margin-right: 22px;
  padding: 7px 16px;
  font-size: 16px;
  line-height: 24px;
  color: #1C2C56;
  background: #FFFFFF;
  border: 1px solid #1C2C56;
  box-sizing: border-box;
  border-radius: 10px;
}

.ingredients-field--name {
  width: 230px;
}

.ingredients-field--amount {
  width: 70px;
  padding: 7px 12px;
}

.clear {
  padding: 9px 13px;
  font-size: 22px;
  line-height: 100%;
  color: #FFFFFF;
  background: #B4504B;
  border-radius: 10px;
  border: none;
}

@media (max-width: 1023px) {
  .ingredients-field {
    font-size: 14px;
    line-height: 20px;
  }

  .ingredients-field--name {
    width: 160px;
  }

  .ingredients-field--amount {
    width: 58px;
  }

  .clear {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .ingredients-field--name {
    width: 140px;
  }
}

.add {
  width: 200px;
  margin-top: 24px;
  padding: 11px 20px;
}

.button:disabled {
  background: #B9C5C7;
  cursor: not-allowed;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid #B4504B;
}
