<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="edit-buttons">
    <button
      class="button save"
      type="submit"
      [disabled]="!recipeForm.valid"
    >Save</button>
    <button
      class="button cancel"
      type="button"
      (click)="onCancel()"
    >Cancel</button>
  </div>

  <ul class="edit-fields">
    <li class="edit-fields__item">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        formControlName="name"
      >
    </li>

    <li class="edit-fields__item">
      <label for="url">Image URL</label>
      <input
        type="url"
        name="name"
        id="url"
        formControlName="imagePath"
        #imagePath
      >
      <img
        class="img-preview"
        [src]="imagePath.value"
        alt=""
      >
    </li>

    <li class="edit-fields__item">
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        rows="4"
        formControlName="description"
      ></textarea>
    </li>
  </ul>

  <div formArrayName="ingredients">
    <div class="ingredients-fields"
         *ngFor="let ingredientCtrl of controls; let i = index"
         [formGroupName]="i"
    >
      <label for="ingName"></label>
      <input
        class="ingredients-field ingredients-field--name"
        type="text"
        id="ingName"
        name="ingName"
        formControlName="name"
      >

      <label for="amount"></label>
      <input
        class="ingredients-field ingredients-field--amount"
        type="number"
        id="amount"
        name="amount"
        formControlName="amount"
      >
      <button
        class="clear"
        type="button"
        (click)="onDeleteIngredient(i)"
      >X</button>
    </div>
    <button
      class="button add save"
      type="button"
      (click)="onAddIngredient()"
    >Add Ingredient</button>
  </div>

</form>
