h3 {
  font-size: 26px;
  line-height: 30px;
  color: #1C2C56;
}

@media (max-width: 1023px) {
  h3 {
    font-size: 20px;
    line-height: 22px;
  }
}

@media (max-width: 767px) {
  h3 {
    text-align: center;
  }
}
