*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", Arial, sans-serif;
  color: #494646;
  background-color: #F4F9FA;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input,
textarea {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-weight: 300;
}

.container {
  padding-top: 40px;
  max-width: 1008px;
  margin: 0 auto;
}
